header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #CE2829;
    height: 160px;
    font-family: "Barlow", serif;
}

.order-header-buttons {
    color: #fff;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 125px;
    left: 32vw;
    gap: 10px;

    font-weight: 100;
}

.order-header-buttons button {
    all: unset;
    cursor: pointer;
}

.order-header-buttons button:last-child {
    font-weight: 500;
}

header img {
    align-self: center;
}

section {
    padding: 0px 32vw;
    font-family: "Roboto Condensed", serif;
}

.pizza-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: 30px;
    margin: 50px auto;
    font-family: "Barlow", serif;
}

.pizza-info h4 {
    font-size: 22px;
    font-weight: 550;
    letter-spacing: 0.01em;
}

.pizza-info p:last-child {
    color: #5F5F5F;
    line-height: 25px;
    font-size: 14px;
}

.pizza-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pizza-details p {
    font-size: 28px;
    font-weight: 620;
}

.rateNreview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    color: #5F5F5F;
}

.rateNreview p {
    font-size: 16px;
    font-weight: 300;
}

Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.pizza-sizes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 55%
}

.dough-size {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.dough-header,
.extras h6,
.customer-note label,
.order-details h4 {
    font-size: 24px;
    font-weight: 600;
}

.dough-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 10px;
    color: #333;
}

.dough-option input {
    width: 20px;
    height: 20px;
}

.dough-option input[type="radio"] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
}

.dough-thickness {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: 0.02em;
}

.dough-thickness select {
    width: 140px;
    text-align: center;
    border-color: #5F5F5F;
    transition: 0.3s color ease;
    border-radius: 5px;
    appearance: none;
    padding: 4px;
    border: 2px solid #5F5F5F;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.dough-thickness select:focus {
    border-color: #333;
    border: 1px solid #333;
    outline: none;
    padding: 4px;
}

.dough-thickness option {
    border-color: #5F5F5F;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
}

.dough-thickness select::-ms-expand {
    display: none;
}

.extras {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.extras p {
    color: #333;
    position: relative;
    bottom: 10px;
}

.extra-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.extra-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 11vw;
    margin-bottom: 30px;

}

.extra-checkbox {
    margin-right: 10px;
}

.customer-note {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.customer-note input {
    all: unset;
    height: 40px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #5F5F5F;
    transition: 0.3s color ease;
}

.customer-note input:hover {
    border: 2px solid #5F5F5F;
}

.customer-note input:focus {
    border: 2px solid #333;
}

.order-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}

.pizza-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pizza-count p {
    border: 1px solid #5f5f5f3f;
    height: 48px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza-count button {
    background-color: #FDC913;
    border: none;
    height: 50px;
    width: 40px;
    cursor: pointer;
}

.pizza-count button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pizza-count button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.order-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    border: 1px solid #5f5f5f3f;
    width: 300px;
    height: 110px;
    padding: 50px 50px;
}

.order-details h4 {
    color: #333;
}

.extra-price,
.total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.extra-price {
    color: #5F5F5F;
}

.total-price {
    color: #CE2829;
}

.order-price button {
    position: relative;
    bottom: 3px;
    width: 100%;
    height: 60px;
    background-color: #FDC913;
    border-radius: 5px;
    border: none;
    color: #333;
    font-size: 22px;
    font-weight: 600;
}